<div class="row" style="min-height: 400px;">
    <div class="col-md-8">
        <h2>简介</h2>
        <p>上海交通大学先进网络实验室（Advanced Network Laboratory，ANL）隶属上海交通大学计算机科学与工程系，负责人陈贵海教授， 现有5位指导教师，30余位荣誉指导专家，博士生、硕士生30余人，参与科研工作本科生80余人。
        </p>
        <p>实验室由杰青、优青、浦江学者等中青年指导教师组成，成立六年间发表国际知名期刊会议论文100余篇， 曾荣获教育部自然科学一等奖、ICNP、DASFAA、ICPADS等会议最佳论文奖，已培养硕博毕业生24人， 指导本科毕业生100余人。毕业生有去Princeton、Stanford、Berkeley、UIUC、UCLA等知名海外高校继续深造，也有去Google、Facebook、Intel、Apple、Tencent等企业就职的工程师。
        </p>
        <p>ANL实验室成立于2011年春季，由陈贵海教授组建，最初的成员是陈贵海与吴帆教授，2011年秋季高晓沨博士开始参与实验室工作，并于2012年4月正式加入实验室。2015年暑期孔令和博士开始参与实验室工作，并于2016年9月正式加入实验室。2017年春季傅洛伊博士开始参与实验室工作，于2017年秋季正式加入实验室。</p>
    </div>
    <div class="col-md-4">
        <h3>联系信息</h3>
        <h4>电话:</h4>
        +86(21) 34207407
        <h4>地址:</h4>
        <address>上海市闵行区东川路 800 号上海交通大学电子信息与电气工程学院 3 号楼东 309 室, 200240</address>
    </div>
</div>
