<div class="row">
    <div class="col-sm-offset-2 col-sm-8">
        <% news.forEach(function(article) { %>
        <div class="row news-list">
            <h4><a href="/news?id=<%= article._id %>" target="_blank"><%= article.title %></a></h4>
            <div>
                <span style="float: left;"><%= moment(article.date).format("YYYY-MM-DD HH:mm") %></span>
                <span style="float: right;"><%= article.visit_count %> 次阅读</span>
            </div>
        </div>
        <% }); %>
    </div>
</div>