<div class="row" style="min-height: 400px;">
    <div class="col-md-8">
        <h2>Introduction</h2>
        <p>Advanced Network Laboratory (ANL) at Shanghai Jiao Tong University was established in the spring of 2011 with 5 active faculty advisors, currently having 24 graduated doctorates or masters and more than 40 postgraduates. The mission of the lab
            is to conduct original research in various communication networks with an emphasis on research contributions and impact. Along this goal, we have identified a few exciting research topics from theoretical hardcore problems to real-word applications
            including distributed network and data processing, wireless network structure and optimization, wireless networks and mobile computing, the Internet of Things and sensor networks, game theory algorithms and applications. Current research projects
            have been funded by many sponsors including the National Science Foundation (NSF) of China, the Ministry of Education in China, the Ministry of Science Technology in China, and Shanghai Municipal Government. During the six years since the
            establishment, we have published hundreds of papers in well-known international journals and have won the best paper awards from many influential conferences such as ICNP, DASFAA and ICPADS. Because of our excellent contributions, we have
            won the first prize of natural science of Ministry of Education.</p>
    </div>
    <div class="col-md-4">
        <h3>Contacts</h3>
        <h4>Phone:</h4>
        +86(21) 34207407
        <h4>Address:</h4>
        <address>SEIEE Building 3-East 309, 800 Dongchuan Rd, Minhang, Shanghai, China, 200240</address>
    </div>
</div>