<div class="row">
    <div class="col-sm-offset-2 col-sm-8">
        <% news.forEach(function(article) { %>
        <div class="row news-list">
            <h4><a href="/en/news?id=<%= article._id %>" target="_blank"><%= article.title_en %></a></h4>
            <div>
                <span style="float: left;"><%= moment(article.date).format("YYYY-MM-DD HH:mm") %></span>
                <span style="float: right;">Read: <%= article.visit_count %></span>
            </div>
        </div>
        <% }); %>
    </div>
</div>